<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= @chart_data.html_safe %>);

    var options = {
        title: 'Time Series Data',
        legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('time_chart'));

    chart.draw(data, options);
    }
</script>
<div id="time_chart" style="width: 900px; height: 500px"></div>