<p>
  <strong>Name:</strong>
  <%= @stock_list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stock_list.description %>
</p>

<%= link_to 'Edit', edit_stock_list_path(@stock_list) %> |
<%= link_to 'Back', stock_lists_path %>